[theme='light'],
:root {
  --border: #bdbdbd;
  --primary: #0080ff;
  --transp: #a4a4a430;
  --sec-color: #81ecec;
  --font-color: #131313;
  --grey-color: #eeeeee;
  --main-color: #ffffff;
  --transp-x2: #ffffffcc;
  --transp-x3: #ffffff70;
  --border-active: #1c1c1c;
  --primary-transp: #0080ff75;
  --font-color-transp: #303030;
  --main-color-transp: #ffffff30;
}

[theme='dark'] {
  --font-color: #fff;
  --primary: #2e86de;
  --transp: #ffffff30;
  --border: #ffffff10;
  --sec-color: #81ecec;
  --main-color: #131313;
  --grey-color: #eeeeee;
  --transp-x2: #ffffff15;
  --transp-x3: #ffffff10;
  --border-active: #ffffff15;
  --primary-transp: #2e86debb;
  --font-color-transp: #bbbbbb;
  --main-color-transp: #13131330;
}

// body-bg-patterns

[bgPattern='-'] {
  --bg-pattern: none;
}

[bgPattern='diamond'] {
  &[theme='light'] {
    --bg-pattern: url('../assets/bgPatterns/light/diamond.svg');
  }
  &[theme='dark'] {
    --bg-pattern: url('../assets/bgPatterns/dark/diamond.svg');
  }
}

[bgPattern='skull'] {
  &[theme='light'] {
    --bg-pattern: url('../assets/bgPatterns/light/skull.svg');
  }
  &[theme='dark'] {
    --bg-pattern: url('../assets/bgPatterns/dark/skull.svg');
  }
}

[bgPattern='circuit-board'] {
  &[theme='light'] {
    --bg-pattern: url('../assets/bgPatterns/light/circuit-board.svg');
  }
  &[theme='dark'] {
    --bg-pattern: url('../assets/bgPatterns/dark/circuit-board.svg');
  }
}

[bgPattern='tic-tac-toe'] {
  &[theme='light'] {
    --bg-pattern: url('../assets/bgPatterns/light/tic-tac-toe.svg');
  }
  &[theme='dark'] {
    --bg-pattern: url('../assets/bgPatterns/dark/tic-tac-toe.svg');
  }
}

[bgPattern='floating-cogs'] {
  &[theme='light'] {
    --bg-pattern: url('../assets/bgPatterns/light/floating-cogs.svg');
  }
  &[theme='dark'] {
    --bg-pattern: url('../assets/bgPatterns/dark/floating-cogs.svg');
  }
}

[bgPattern='i-like-food'] {
  &[theme='light'] {
    --bg-pattern: url('../assets/bgPatterns/light/i-like-food.svg');
  }
  &[theme='dark'] {
    --bg-pattern: url('../assets/bgPatterns/dark/i-like-food.svg');
  }
}

// diagram-themes

[diagram-theme='A'] {
  --1: #003f5c;
  --2: #2f4b7c;
  --3: #665191;
  --4: #a05195;
  --5: #d45087;
  --6: #f95d6a;
  --7: #ff7c43;
  --8: #ffa600;
}

[diagram-theme='B'] {
  --1: #a7414a;
  --2: #282726;
  --3: #6a8a82;
  --4: #a37c27;
  --5: #563838;
  --6: #5427a3;
  --7: #a32776;
  --8: #76a327;
}

[diagram-theme='C'] {
  --1: #5c0000;
  --2: #7a1033;
  --3: #8b3066;
  --4: #8b5398;
  --5: #7a77c4;
  --6: #599ae5;
  --7: #24bcf9;
  --8: #00dbff;
}

[diagram-theme='D'] {
  --1: #695c47;
  --2: #8d7d60;
  --3: #b29f7a;
  --4: #d8c395;
  --5: #ffe8b1;
  --6: #e0b786;
  --7: #c08863;
  --8: #782f2f;
}
