@import '../../style/const.scss';

.checkboxWrap {
  gap: 0.35rem;
  display: flex;
  cursor: pointer;
  width: max-content;
  align-items: center;
}
.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    width: 2rem;
    height: 2rem;
    path {
      fill: var(--font-color-transp);
    }
  }
}
.title {
  color: var(--font-color-transp);
}

@media (hover) {
  .checkboxWrap:hover {
    .title {
      color: var(--font-color);
    }
    svg {
      path {
        fill: var(--font-color);
      }
    }
  }
}
