@import '../../style/const.scss';

.error {
  width: 100vw;
  display: flex;
  height: 100dvh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--main-color);
}

.errorMes {
  font-size: 2rem;
  font-weight: 500;
}

.btn {
  margin-top: 1rem;
}
